.planet-card {    
    --border: 1px solid var(--ion-color-secondary);
}

.planet-info {
    --background: #250713;
}

#color {--background:linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);}

ion-title {--color: #250713;}

.ion-justify-content-center{
    text-align: center;
}

.login {text-align:center;}

a {text-align:center;}

/* Quick-zoom Container */
.img-hover-zoom--quick-zoom img {
  transform-origin: 0 0;
  transition: transform .25s, visibility .25s ease-in;
}

/* The Transformation */
.img-hover-zoom--quick-zoom:hover img {
  transform: scale(2);
}




