<ion-header>
  <ion-toolbar>
    <ion-title><strong>Superhero Science Fantasy Starships</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button detail lines="inset" style="color: #ffcc00" *ngFor="let starship of (starships | async)?.results"
    (click)="openDetails(starship)">
    {{ starship.name }}
  </ion-item>
  </ion-list></ion-content><br>
  <div class="login">
    <a href="https://www.starwars.com/search?q=starships" style="color: #250713"><em>View Superhero Starships - <strong><u>click here</u></strong></em></a>      
  </div>





        


