<ion-header>
  <ion-toolbar>
    <h2 style="text-align:center; color:#250713"><strong>Your Favorites</strong></h2>
  </ion-toolbar>
</ion-header><br><br>

<ion-content>
  <ion-title><strong>Favorite Films</strong></ion-title>

  <ion-item *ngFor="let f of films" style="color:#250713">
    <ion-label>
      {{ f.title }}
    </ion-label>
  </ion-item>
</ion-content>


<ion-content>
  <ion-title><strong>Favorite Planets</strong></ion-title>

  <ion-item *ngFor="let p of planets" style="color:#250713">
    <ion-label>
      {{ p.name }}
    </ion-label>
  </ion-item>
</ion-content>
